.products {
  padding: 30px 50px;
  display: flex;

  .left {
    flex: 1;
    height: 100%;
    top: 50px;
    position: sticky;

    .filterItem {
      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }

      .inputItem {
        display: flex;
        gap: 10px;
        :hover{
            cursor: pointer;
        }
      }
    }
  }
  .right {
    flex: 3;

    .catImg{
      height: 200px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 80px;
    }
  }
}
